<style>
	body {	background-image: url("Background1.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;  
		background-size: cover;}
	.n {	color: black;
		padding: 0px;
		font-family: Alvi Nastaleeq;
		font-size: 150%;
		text-align: right;}
	ul {
 		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;  }
	li {
 		float: left;
		border-right:1px solid #bbb;  }
	li:last-child {
 		border-right: none;}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;}

	li a:hover:not(.active) {
		background-color: #111;}
	.active {
		background-color: #4CAF50;
	}
	h1 { font-family: Alvi Nastaleeq;
		font-size: 400%;
		color: black;
		padding: 10px;
		text-align: center;}
	h2 { font-family: Alvi Nastaleeq;
		font-size: 150%;
		color: black;
		padding: 10px;
		text-align: center;}
	.p { background-color:  ;
		font-family: Alvi Nastaleeq;
		font-size: 150%;
		color: black;
		padding: 10px;
		direction:right;
		text-align:right;}
	.content {
  		margin: 5px;
  		padding: 0.1px;
		  background-color: lightgrey;}
	nav {	
		border: 1px solid black;
		border-radius: 20px;
  		float: left;
		text-align: center;
		font-family: Alvi Nastaleeq;
		font-size: 150%;
  		width: 20%;
  		height: 1500px; /* only for demonstration, should be removed */
  		background: #ccc;
  		padding: 20px;}
  </style>